.container, .userComment {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    justify-content: space;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.userComment {
    float: right;
}
.content {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    width: 75%;
}
.date {
    float: right;
}
.interfaceItemOne, .interfaceItemTwo {
        margin-right: 20px;
    background-color: var(--buttons-color);
    color: var(--foreground);
    min-width: 70px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    padding: 3px 15px 10px 23px;
    text-align: center;
}
.commentInterface {
    margin-top: 10px;
    display: flex;
}