@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e6e6e6f3;
    --foreground: hsl(0, 0%, 0%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(0, 0%, 10%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 10%);
    --primary: hsl(0, 0%, 15%);
    --primary-foreground: hsl(0, 0%, 95%);
    --secondary: hsl(0, 0%, 90%);
    --secondary-foreground: hsl(0, 0%, 10%);
    --muted: hsl(0, 0%, 90%);
    --muted-foreground: hsl(0, 0%, 50%);
    --accent: hsl(0, 0%, 90%);
    --accent-foreground: hsl(0, 0%, 10%);
    --destructive: hsl(0, 70%, 50%);
    --destructive-foreground: hsl(0, 0%, 95%);
    --border: hsl(0, 0%, 0%);
    --input: hsl(0, 0%, 85%);
    --ring: hsl(0, 0%, 5%);
    --chart-1: hsl(12, 76%, 61%);
    --chart-2: hsl(173, 58%, 39%);
    --chart-3: hsl(197, 37%, 24%);
    --chart-4: hsl(43, 74%, 66%);
    --chart-5: hsl(27, 87%, 67%);
    --radius: 0.5rem;
    --main: rgb(255, 255, 255);
    --buttons-color: rgb(98, 98, 98) ;
    --image: url("../images/backgroundWhite.png")
  }

  .dark {
    --background: #131313f2;
    --foreground: #ffffff;
    --card: hsl(0, 0%, 10%);
    --card-foreground: hsl(0, 0%, 95%);
    --popover: hsl(0, 0%, 10%);
    --popover-foreground: hsl(0, 0%, 95%);
    --primary: hsl(0, 0%, 95%);
    --primary-foreground: hsl(0, 0%, 10%);
    --secondary: hsl(0, 0%, 20%);
    --secondary-foreground: hsl(0, 0%, 95%);
    --muted: hsl(0, 0%, 20%);
    --muted-foreground: hsl(0, 0%, 70%);
    --accent: hsl(0, 0%, 20%);
    --accent-foreground: hsl(0, 0%, 95%);
    --destructive: hsl(0, 60%, 40%);
    --buttons-color: rgb(44, 44, 44) ;
    --destructive-foreground: hsl(0, 0%, 95%);
    --border: hsl(0, 0%, 47%);
    --input: hsl(0, 0%, 20%);
    --ring: hsl(0, 0%, 80%);
    --chart-1: hsl(220, 70%, 50%);
    --chart-2: hsl(160, 60%, 45%);
    --chart-3: hsl(30, 80%, 55%);
    --chart-4: hsl(280, 65%, 60%);
    --chart-5: hsl(340, 75%, 55%);
    --main: rgb(0, 0, 0);
    --image: url("../images/backgroundBlack.jpg")
  }
}

@layer base {
  * {
    @apply border-border;
     font-family: "Inter", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
    background: url("../images/bg.jpg") no-repeat fixed;
    background-size: cover;
    padding: 0 60px 20px 60px;
    width: 2000px;
    display: block;
    margin: auto;
  }

  button {
    cursor: pointer;
  }
}
