.container {
    width: 100%;
    display: inline-table;
    min-height: 10px;
    background-color: var(--background);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--border);
}

.content {
    margin-top: 5px;
    word-wrap:break-all;
    width: 950px;
    height: 65px;
    color: rgb(184, 184, 184);
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 50px;
}

.date {
    float: right;
    margin-top: -60px;
}

.interface {
    margin-top: 20px;
    display: flex;
}


.interfaceItemOne, .interfaceItemTwo {
    margin-right: 20px;
    background-color: var(--buttons-color);
    color: var(--foreground);
    min-width: 70px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    padding: 5px 15px 5px 15px;
}

.head {
    border-bottom: 1px solid rgb(117, 117, 117);
    height: 80px;
}
.count_likes, .count_comments {
    margin-left: 10px;
    margin-top: -2px;
}


.icon{
    margin-top: -2px;
}
.comment_input {
    height: 45px;
    margin-top: 10px;
    width: 900px;
}

.createComment_block {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.avatar {
    height: 40px;
    border-radius: 50px;
}
.send_button {
    width: 50px;
    height: 45px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.send_img {
    display: block;
    margin: auto;
}

.comments {
    margin-top: 20px;
}