.customInput, .error {
    background-color: var(--background) ;
    border: 1px solid var(--foreground) ;
    color: var(--foreground) ;
    height: 59px ;
    font-size: 20px ;
    border-radius: 10px !important;
    padding-left: 20px ;
    width: 100%;
    padding-right: 80px;
}
.customInput::placeholder {
    font-weight: 500 ;
    color: var(--foreground) ;
    font-size: 20px ;
}

.error {
    border: 1px solid rgb(230, 149, 149);
    box-shadow: 5px 5px 30px rgb(254, 187, 187);
}

.dark, .light {
    width: 25px;
    height: 25px;
}
.dark {
    filter: invert(0);
}

.textarea {
    outline: none;
    padding-top: 10px;
    height: 400px;
    resize: none;
}